@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Godbold";
  src: url(assets/font/Gobold\ Bold.otf);
}

body {
  font-family: "Comfortaa", cursive, Montserrat, sans-serif;
}

.container {
  // max-width: 1440px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0;

  &--no-padding {
    padding: unset;
    background-color: #e13d31;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: "Godbold", sans-serif;
}

h2 {
  font-size: 3.5rem;
  font-weight: 700;
}

p,
a {
  font-family: "Comfortaa", cursive;
}

p {
  font-size: 1rem;
}

.btn {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;

  &:hover {
    color: #b6ac92;
  }

  img {
    width: 15px;
    margin-left: 32px;
  }
}

.btn-primary {
}

// NAVBAR
header {
  position: sticky;
  top: 0;
  transition: all 0.5s ease-in-out;
  z-index: 2;
  margin: 0;
  background-color: #000000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 23px;

  .navbar-logo {
    img {
      width: 106px;
    }
  }

  .navbar-list {
    display: flex;
    gap: 56px;
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: #ffffff;
      font-size: 16px;
      font-weight: 600;
    }

    a:hover {
      color: #b6ac92;
    }
  }

  .navbar-toggle {
    display: none;
  }
}

// SECTION 01
.section-header {
  background-color: #000000;
  width: 100%;

  .header-content {
    display: flex;
    position: relative;
    z-index: 1;

    .column-left {
      display: flex;
      width: 100%;
      max-width: 798px;
      flex-shrink: 0;
      position: relative;
      background-color: rgb(74, 247, 0);

      .heading-content {
        font-size: 62px;
        color: #ffffff;
        text-transform: uppercase;
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 40px;
        padding-top: 31px;
        max-width: 590px;
      }

      .column-left-one {
        display: flex;
        flex: 1;
        flex-direction: column;
        background-color: rgb(94, 0, 56);

        .content-column-one {
          flex: 1;
          background-color: aqua;
        }

        .content-column-two {
          position: relative;
          flex: 1;

          .cta-white {
            position: absolute;
            bottom: 0;
            left: 0;
            padding-left: 40px;
            padding-bottom: 40px;
            justify-content: flex-start;
            align-items: flex-end;
            color: #e13d31;
            display: flex;
            width: 100%;
            height: 100%;
            background-color: #ffffff;
          }
          :hover {
            background-color: rgba($color: #ffffff, $alpha: 0.8);
          }
        }
      }

      .column-left-two {
        width: 100%;
        max-width: 477px;
        flex-shrink: 0;
        background-color: rgb(0, 80, 80);
      }
    }

    .column-right {
      flex: 1;
      background-color: blueviolet;
      width: 100;
      display: flex;
      flex-direction: column;

      .column-right-one {
        display: flex;
        flex: 1;
        background-color: rgb(62, 1, 136);

        .content-column-one {
          flex: 1;
          position: relative;

          .cta-orange {
            position: absolute;
            bottom: 0;
            left: 0;
            padding-left: 40px;
            padding-bottom: 40px;
            justify-content: flex-start;
            align-items: flex-end;
            font-weight: 700;
            color: #ffffff;
            display: flex;
            width: 100%;
            height: 100%;
            background-color: #e13d31;
          }
          :hover {
            background-color: rgba($color: #e13d31, $alpha: 0.8);
            color: #ffffff;
          }
        }

        .content-column-two {
          flex: 1;
          background-color: rgb(28, 4, 212);
        }
      }

      .column-right-two {
        flex: 1;
        background-color: rgb(255, 213, 0);
      }
    }

    .social-button {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 0;
      z-index: 2;
    }
  }
}

.social-button {
  position: relative;
  z-index: 10;
  margin: -70px auto 0 auto;
  max-width: 50%;
  .wrapper {
    display: flex;
    justify-content: center;
    gap: 32px;
  }
}

.btn-primary {
  background-color: #ffffff;
  border-radius: 25px;
  padding: 10px 23px;
  color: #000000;

  &:hover {
    background-color: #31aad0;
    color: #ffffff;
  }
}

// SECTION_2
.section-two {
  padding-top: 100px;
  background-color: #000000;
  .section-two-content {
    display: flex;
    gap: 99px;
    .column-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      max-width: 523px;

      h2 {
        color: #ffffff;
        text-transform: uppercase;
        margin-bottom: 18px;
      }

      p {
        color: #ffffff;
        font-size: 20px;
        text-transform: uppercase;
        line-height: 43px;
      }
    }

    .section-two-content,
    .column-card {
      margin: 0 auto;
    }

    .column-card {
      flex: 1;
      display: flex;
      gap: 32px;
      height: 673px;

      .card-left {
        display: flex;
        overflow-y: scroll;
        height: 100%;
        flex-direction: column;
        gap: 32px;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .card {
        display: flex;
        background-color: #212222;

        .card-body {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          justify-content: center;
          padding: 30px 42px;

          height: 322px;
          h4 {
            font-size: 48px;
            color: #b6ac92;
          }

          p {
            font-size: 16px;
            color: #ffffff;
            line-height: 43px;
          }
        }

        &.active {
          background-color: #e13d31;
          h4 {
            color: #ffffff;
          }
        }
      }

      .card-right {
        display: flex;
        overflow-y: scroll;
        height: 100%;
        flex-direction: column;
        gap: 32px;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}

// SECTION_3
.section-logo {
  background-color: #000000;
  height: auto;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: 54px;
  padding-bottom: 67px;
  border-top: 1px solid rgba($color: #ffffff, $alpha: 0.4);
  border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.4);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.logo-content {
  display: flex;
  align-items: center;
  animation: scroll 40s linear infinite;
  width: calc(250px * 14);
  gap: 67px;
  .btn-logo {
    img {
      width: 100%;
    }
  }
}

// SECTION_4
#section_4 {
  padding-top: 32px;
  background-color: #000000;

  .heading-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .text-content {
      flex: 45%;
      margin-bottom: 3.2rem;

      h2 {
        color: #b6ac92;
        text-transform: uppercase;
        margin-bottom: 1rem;
      }

      p {
        color: #ffffff;
        font-weight: 400;
        text-transform: uppercase;
        opacity: 0.6;
        line-height: 26px;
      }
    }

    .btn-arrow {
      flex: 55%;
      display: flex;
      justify-content: flex-end;
    }
  }

  .cards-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
      background-color: #0b0b0b;
      flex: 0 1 calc(33.3333% - 1rem);
      margin-bottom: 1rem;

      .img-content {
        position: relative;
        .card-img {
          img {
            width: 100%;
            object-fit: cover;
          }
        }

        .text-content {
          position: absolute;
          bottom: 4rem;
          background-color: rgba($color: #000000, $alpha: 0.4);
          width: 100%;
          text-align: center;
          padding: 4px 0;

          h3 {
            font-size: 36px;
            font-weight: 700;
            color: #ffffff;
          }

          h5 {
            color: #8ec4bb;
            font-size: 1.2rem;
            font-weight: 600;
            text-transform: uppercase;
          }
        }
      }

      .desc-content {
        padding: 24px 20px;

        p {
          color: #ffffff;
          line-height: 26px;
        }
      }
    }
  }
}

// SECTION_6

// SECTION_7
#section_7 {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #000000;

  .heading {
    display: flex;

    h2 {
      color: #ffffff;
      margin-bottom: 3.75rem;
    }
  }

  .box-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
      flex: 0 1 calc(50% - 1rem);
      margin-bottom: 1rem;
      background-color: #212222;
      .card-body {
        background-color: #212222;
        z-index: 2;
        transition: all 0.5s ease-in-out;
        color: #b6ac92;

        .text-content {
          padding: 197px 32px 32px 32px;
          h2 {
            line-height: 4.5rem;
            margin-bottom: 29px;
          }
        }

        &:hover {
          cursor: pointer;
          transition: all 800ms ease;
          color: #ffffff;
          background-color: #e13d31;
          transform: translate(15px, -15px);
        }
      }
    }
  }
}

// SECTION_8
#section_8 {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #212222;
  .heading-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .text-content {
      flex: 35%;
      h2 {
        color: #ffffff;
        text-transform: uppercase;
        margin-bottom: 1rem;
      }

      p {
        color: #ffffff;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 26px;
      }
    }

    .btn-arrow {
      flex: 65%;
      display: flex;
      justify-content: flex-end;
    }
  }
}

// SECTION_9_SLIDER
#section_9_slider {
  width: 100%;
  max-height: 668px;
  overflow: hidden;
  position: relative;
  .slideshow-container {
    width: 500%;
    max-height: 668px;
    display: flex;

    input {
      display: none;
    }

    .slide {
      width: 20%;
      transition: 2s;

      img {
        width: 1440px;
        height: 668px;
      }
    }

    #radio1:checked ~ .first {
      margin-left: 0;
    }

    #radio2:checked ~ .first {
      margin-left: -20%;
    }

    #radio3:checked ~ .first {
      margin-left: -40%;
    }

    #radio4:checked ~ .first {
      margin-left: -60%;
    }

    /*css for automatic navigation*/

    .navigation-auto {
      position: absolute;
      z-index: 15;
      display: flex;
      width: 100%;
      justify-content: center;
      bottom: 30px;

      div {
        border: 2px solid #40d3dc;
        padding: 5px;
        border-radius: 10px;
        transition: 1s;

        &:not(:last-child) {
          margin-right: 40px;
        }
      }
    }

    #radio1:checked ~ .navigation-auto .auto-btn1 {
      background: #40d3dc;
    }

    #radio2:checked ~ .navigation-auto .auto-btn2 {
      background: #40d3dc;
    }

    #radio3:checked ~ .navigation-auto .auto-btn3 {
      background: #40d3dc;
    }

    #radio4:checked ~ .navigation-auto .auto-btn4 {
      background: #40d3dc;
    }
  }

  /*css for manual slide navigation*/
  .navigation-manual {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 30px;

    .manual-btn {
      border: 2px solid #40d3dc;
      padding: 5px;
      border-radius: 10px;
      cursor: pointer;
      transition: 1s;

      &:not(:last-child) {
        margin-right: 40px;
      }

      &:hover {
        background: #40d3dc;
      }
    }
  }
}
