@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  padding: 20px 50px;
}

.btn {
  text-decoration: none;
  font-family: "Comfortaa", cursive;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  display: inline-block;
}

.btn:hover {
  color: #b6ac92;
}

nav {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo-brand img {
  width: 106px;
}
nav .container-navbar .navbar-nav {
  display: flex;
  gap: 56px;
}
nav .container-navbar .navbar-nav a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Comfortaa", cursive;
  text-transform: uppercase;
  font-size: 16px;
  display: block;
  font-weight: 600;
}
nav .container-navbar .navbar-nav a:hover {
  color: #b6ac92;
}
nav .navbar-toggle {
  display: none;
}

#talent {
  background-color: #000000;
}
#talent .header-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;
}
#talent .header-content h2 {
  color: #b6ac92;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 56px;
  font-weight: 600;
  flex: 50%;
  margin-bottom: 30px;
}
#talent .header-content p {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Comfortaa", cursive;
  color: #ffffff;
  width: 629px;
  opacity: 60%;
  flex: 50%;
}
#talent .header-content img {
  width: 15px;
  margin-left: 32px;
}
#talent .cards-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#talent .cards-group .card-items {
  display: flex;
  width: 438px;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background-color: #0b0b0b;
  margin-bottom: 20px;
  border-radius: 4px;
}
#talent .cards-group .card-items .card-content {
  padding-top: 8px;
  padding-bottom: 16px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  text-align: center;
  bottom: 27%;
}
#talent .cards-group .card-items .card-content h2 {
  color: #ffffff;
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}
#talent .cards-group .card-items .card-content p {
  color: #ffffff;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #8ec4bb;
}
#talent .cards-group .card-items .card-desc {
  padding: 24px 20px;
  color: #ffffff;
  font-size: 16px;
  font-family: "Comfortaa", cursive;
  line-height: 26px;
}
@media screen and (min-width: 640px) {
  #talent .card-item {
    width: 50%;
  }
}
@media screen and (min-width: 896px) {
  #talent .card-item {
    width: 33.3333%;
  }
}

@media screen and (max-width: 900px) {
  nav .navbar-toggle {
    display: block;
  }
  nav .navbar-toggle .toggle-line {
    cursor: pointer;
    width: 22px;
    height: 2px;
    background-color: #ffffff;
    margin: 6px 0;
  }
  nav .container-navbar {
    position: absolute;
    height: 0;
    top: 60px;
    left: 0;
    right: 0;
    transition: 0.5s;
    background-color: #000000;
    overflow: hidden;
  }
  nav .container-navbar.active {
    height: 250px;
  }
  nav .container-navbar.active .navbar-nav {
    opacity: 1;
  }
  nav .container-navbar .navbar-nav {
    display: block;
    width: fit-content;
    margin: 40px auto 10px auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  nav .container-navbar .navbar-nav a {
    margin-bottom: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
